WordNet Database Directory (filename)    : +CHANGE_WITH_PATH_TO_WORDNET+/dict/
Shift Stop Word List (string)            : +CHANGE_WITH_PATH_TO_TER+/data/shift_word_stop_list.txt
Phrase Database (filename)               : +CHANGE_WITH_PATH_TO_TER+/data/phrases.db

